*{
    font-family: 'Turret Road', cursive;
    background-color: rgb(121, 162, 163); 
}
/* head{
    height: 1000px;
    width: 600px;
    } */
 /* body{
     width: 500px;
 } */
    
/* #photoscss{

display: flex;
flex-direction: row;
/* align-content: flex-start;
flex-wrap: wrap
/* width: 100px;  */
 

  #items{
    align-content: flex-start;
     width: 100px;
    margin: 10px;
  }
    


 img{
width: 100px;
height: 100px;
/* border: solid 2px black;
padding: 5px; */
/* margin: auto; */

/* clear: both; */

  }
#gallery{
display: flex;
width: 100%;
flex-wrap: wrap;
}